.App-Header {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: orange;
  color: white;
  padding-left: 5px;
}

.input-wraper {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 10px;
  border-bottom: 1px solid black;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 300px;  
  padding: 10px;
  border-bottom: 1px solid black;
}